/ParasitismShooting/Debug
/ParasitismShooting/Log.txt
/Debug
/.vs
/Mint/.vs
/Mint/Debug
/Mint/ParasitismShooting/Debug
/ParasitismShooting/Release
/Release
/Mint/ParasitismShooting/Log.txt
/ParasitismShooting/Ronde-B_square.otf
/Mint/ParasitismShooting/Release
/Mint/ParasitismShooting/Ronde-B_square.otf
/Mint/Release
/Mint/ParasitismShooting/img/bg3.png
/Mint/ParasitismShooting/img/bg4.png
/Mint/ParasitismShooting/img/bg5.png
/Mint/ParasitismShooting/img/result.png
/Mint/ParasitismShooting/img/bg1.png
/Mint/ParasitismShooting/img/bg2.png
/ParasitismShooting/img/result.png
/ParasitismShooting/img/bg1.png
/ParasitismShooting/img/bg2.png
/ParasitismShooting/img/bg3.png
/ParasitismShooting/img/bg4.png
/ParasitismShooting/img/bg5.png
/ParasitismShooting/sound/SE/select.mp3
